body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: url('/static/images/cruise.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.branding {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  padding: 1rem;
  background-color: #00384d;
  color: #a3e4f3;
}

header {
  background-color: #0e4659;
  padding-bottom: 1.1%;
}

nav ul {
  gap: 100px;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: -5px;
  background-color: #1abc9c;

}

nav ul li a {
  display: flex;                 /* Enables flexbox */
  align-items: center;           /* Vertical centering */
  justify-content: center;       /* Optional: horizontal centering */
  height: 30px;                  /* Set desired nav height */
  padding: 0 15px;               /* Horizontal spacing */
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin: -5px;
}


nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.logout-form {
    position: absolute;
    top: -7px;
    right: 20px;
}

.logout-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 14px;
  font-size: 15px;
  white-space: nowrap;  /* Prevent text from wrapping */
    min-width: 80px;       /* Ensure enough width */
    text-align: center;
  cursor: pointer;
  border-radius: 4px;
}
.logout-button:hover {
    background-color: #c0392b;
}
main {
  max-width: 600px;
  margin: 40px auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(15, 17, 20, 0.5);
  color: black;
}

.highlight-box {
  font-family: 'Playfair Display', serif;
  display: inline-block;
  background-color: #00526e;
  color: #a3e4f3;
  padding: 12px 6px;
  border-radius: 7px;
  font-weight: bold;
  margin-top: 7px;
  font-size: 1.4rem;
  justify-self: center;
  text-align: center;
  display: block;
  width: 150px;
}

.center-box {
  text-align: center;
  margin-top: 20px;
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

form input{
  width: 97%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1rem;
  background: rgba(97, 97, 97, 0.9);
  color: #fafafa;
}

form select {
  width: 99.9%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1rem;
  background: rgba(97, 97, 97, 0.9);
  color: #fafafa;
}

form input.half-width {
  width: 93.8%;
}

form input::placeholder {
  color: #ffffff;
}

.row {
  display: flex;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

button {
  margin-top: 25px;
  width: 30%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

a {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: black;
  text-decoration: underline;
}

a:hover {
  color: rgb(125, 117, 117);
}
