<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/passenger_login.css') }}">
</head>
<body>

  <header>
    <div class="branding">Cruise Paradise</div>
  </header>

  <div class="login-container">
    <div class="login-box">
      <form action="/passenger_login" method="post">
        <div class="input-group">
          <label for="email">Email:</label>
          <input type="email" name="email" placeholder="" required>
        </div>
        <div class="input-group">
          <label for="Passenger Password">Password:</label>
          <input type="password" name="password" placeholder="" required>
        </div>
        <button type="submit">Login</button>

        <div class="bottom-links">
          <a href="{{ url_for('register') }}">If you're a new user? Create Account</a>
          <a href="{{ url_for('admin_login') }}" class="bold-admin">Login as Admin</a>
        </div>
      </form>
    </div>
  </div>

</body>
</html>
